---
interface Props {
  id?: string;
  bgColor?: string;
  showScrollIndicator?: boolean;
  padding?: string;
}

const { id, bgColor = "bg-white", showScrollIndicator = false, padding = "py-20" } = Astro.props;
---

<section
  id={id}
  class={`min-h-screen flex items-center justify-center ${bgColor} relative ${padding}`}
>
  <div class="w-full flex flex-col z-10 px-8">
    <slot />
  </div>

  {
    showScrollIndicator && (
      <div class="absolute bottom-8 left-1/2 transform -translate-x-1/2 animate-bounce">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-10 w-10 text-primary/50"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 14l-7 7m0 0l-7-7m7 7V3"
          />
        </svg>
      </div>
    )
  }
</section>
